<div class= "container">
<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img ">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
  </div>
  <div class="blog-slider__pagination"></div>
</div>
</div>
<%# Best sell book %>
  <div class='bestsell center row'>
 <div class ='margintop'> <span class= 'textnewww'> Bestseller Books</span> </div>
   <% if @products.size != 0%>
    <% @products.each do |product| %>
<div class="card salehot" style="width: 18rem;">
  <div class="card-body">
    <%= image_tag(product.image.url, :alt => "rss feed",class: 'img') %>
    <h5 class="card-title"><%=product.name %> </h5>
    <h5 class ='card-title'> <%=product.author %> </h5>
    <h5 class ='card-title'> Quantity :<%=product.quantity%> </h5>
    <h5 class ='card-title'> Price :<%=product.price%> </h5>
    <% if !current_user.nil?%>
       <% if current_user.role == 2 && !current_shop.nil? && product.shop_id == current_shop.id %>
           <%= link_to "Your product", shoppage_path ,class: "btn btn-primary" %>
      <%else%>
           <% if product.quantity > 0 %>
           <%= link_to "View", showtocart_path(product),class: "btn btn-primary" %>
           <%else%>
          <div class='soldout'>Sold out!</div>
          <%end%>
      <% end %>
    <%else%>
      <%= link_to "Log in to view", login_path, class:"btn btn-primary" %>
   <%end%>
    </div>
  </div>
  <%end%>
  <%else%>
  <div class = 'hotfont'>
    Best Seller Books haven't been updated yet !
  </div>
   <%end%>
</div>
<%# Best sell book %>
<section class="page-section portfolio " id="portfolio">
            <div class="container ">
                <!-- Portfolio Section Heading-->
                <span class= 'textne ' > Hot Sale</span>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5 insize">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                <figure class="snip0016">
                                    <img class="img-fluid resizee" src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.15752-9/298728661_398623055784967_8126511475772825637_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=jQghWBQWWXkAX_rpIDm&_nc_ht=scontent.fsgn2-1.fna&oh=03_AVIZNdUYqtB3w4KJawCrQ8gwMUleHdyQEKx-_Zafkfn-Cw&oe=63404266" alt="..." />
                                    <figcaption>
                                     <h2>I think <span>nighttime</span> is dark</h2>
                                      <p>So you can imagine your fears with less distraction.</p>
                                           <a href="#"></a>
                                      </figcaption>     
                                    </figure>
                            </div>
                                  
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5 insize">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                <figure class="snip0016">
                                     <img class="img-fluid  resizee" src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/297890666_839906803687943_1801687503222026126_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=LNy4uWz6Q6AAX8Dx4It&tn=dKo5jpKF-52URWfV&_nc_ht=scontent.fhan2-2.fna&oh=03_AVIOfenKQLK_XHDcO0-0eobnfIFdOC94IVkzFbdJ761eLg&oe=6343C54Ehttps://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/297890666_839906803687943_1801687503222026126_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=LNy4uWz6Q6AAX8Dx4It&tn=dKo5jpKF-52URWfV&_nc_ht=scontent.fhan2-2.fna&oh=03_AVIOfenKQLK_XHDcO0-0eobnfIFdOC94IVkzFbdJ761eLg&oe=6343C54E" alt="..." />
                                     <figcaption>
                                       <h2>I think the <span>surest</span> sign </h2>
                                        <p>That intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</p>
                                        <a href="#"></a>
                                     </figcaption>     
                                    </figure>
                            </div>   
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5 insize">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                <figure class="snip0016">
                                  <img class="img-fluid  resizee" src="https://lh3.googleusercontent.com/AAuZA_AyQBYy3sUOIjhVyAq9cWCBhhd8wjlh_7Oxzfe9c1OX84PYOLi1Ea-Z8uKjMNHSvallroynAHAYzQSME-8KNLZCJGs5PtRoEwWvZzvzgzxEQR6vyp7ijcOPUTsHUNA8pNp6=s0" alt="..." />
                                  <figcaption>
                                    <h2>I think the <span>surest</span> sign </h2>
                                   <p>That intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</p>
                                   <a href="#"></a>
                                 </figcaption>     
                                </figure>
                            </div>
                           
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 insize">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                 <figure class="snip0016">
                                        <img class="img-fluid  resizee" src="https://salt.tikicdn.com/cache/w1200/ts/product/00/f8/b3/8692f9c33200d5b99ed8ac1b2654240e.jpg" alt="..." />
                                       <figcaption>
                                         <h2>I think the <span>surest</span> sign </h2>
                                          <p>That intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</p>
                                         <a href="#"></a>
                                      </figcaption>     
                                      </figure>
                            </div>
                           
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0 insize">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                  <figure class="snip0016">
                                 <img class="img-fluid  resizee" src="https://cf.shopee.vn/file/7a9df8e8d5e5c6c9bd010b770ef43649" alt="..." />
                                 <figcaption>
                                   <h2>I think the <span>surest</span> sign </h2>
                                   <p>That intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</p>
                                   <a href="#"></a>
                                 </figcaption>     
                                </figure>
                            </div>
                          
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4 insize">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                          <figure class="snip0016">
                                          <img class="img-fluid  resizee" src="https://salt.tikicdn.com/ts/brickv2og/dc/5a/ce/93235925218a59e9eae028c76d9180e7.jpg" alt="..." />
                                          <figcaption>
                                            <h2>I think the <span>surest</span> sign </h2>
                                            <p>That intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</p>
                                            <a href="#"></a>
                                         </figcaption>     
                                        </figure>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              </div>
        </section>
<div class = 'centerr nearfooter'>
 <div class ='margi'> <span class= 'textneww ' >Others </span> </div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_01.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Jigsaw Puzzles</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/227/135-icon_02_2.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text ">Souvenir</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_03.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Old Book Market</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_05.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Gift</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_06.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lego Toy</p>
  </div>
</div>
</div>

<script>var swiper = new Swiper('.blog-slider', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },
      // autoHeight: true,
      pagination: {
        el: '.blog-slider__pagination',
        clickable: true,
      }
    });</script>