<h1>QT'BookStore</h1>
<p>Hi <%= @user.name %></p>
<p>
Thanks for your order
</p>
<h4> Your order confirmation </h4>
<h3> Your customer name:<%=@user.name%> </h3>
<h3> Total items <%=@cart_items.size%></h3>
  <table>
   <% @cart_items.each do |order| %>
  <tr>
 <td> Book's name: <%= Product.all.find_by(id: order.product_id).name%></td>
  </tr>
  <tr>
     <td>quantity <%=order.quantity%></td>
  </tr>
  <tr> <td> Total: <%=order.total_price%> </td> </tr>
   <% end %>  
     <td> Finally Total: <%= CartSession.last.sum %></td>
</table>     
                   
   