<h1>Order</h1>
<p>Hi <%= @shop.name %></p>
<p>
You have a new order
</p>
<h3> Total items <%=@cart_items.size%></h3>
<h4> Your order customer <h4>
<% @cart_items.each do |order| %>
  <tr>
 <td> Book's name: <%= Product.all.find_by(id: order.product_id).name%></td>
  </tr>
  <tr>
     <td>quantity <%=order.quantity%></td>
  </tr>
  <tr> <td> Total: <%=order.total_price%> </td> </tr>
     <% end %>  
</table>    