<% provide(:title, 'All products') %>
<h1><span class= 'textp' ><i class="uil uil-book-open margin-rightt"></i></i>Books</span> </h1>
<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-primary  margin-leftf">All</button>
<% Category.all.each do |cate|%>
  <%= button_to index_cate_path(cate), class:"btn btn-primary margin-leftf" do %>
<%=cate.name%>
<%end%>
<%end%>
</div>

<ul class="users">
<%if  @products.size !=0 %>
<% @products.each do |product| %>
<div class="card editcard" style="width: 18rem;">
  <div class="card-body">
   <%= image_tag(product.image.url, :alt => "rss feed",class: 'img') %>
    <h6 class="card-text"><%=product.name %> </h6>
    <p class ='card-text'> <%=product.author %> </p>
    <p class="card-text">Price :<%=product.price%></p>
    <p  class="card-text"><%= link_to "#{@shops.find_by(id: product.shop_id).name}" , shop_path(id: product.shop_id) ,class: "" %> </p>
      <% if current_user.role == 2 && product.shop_id == current_shop.id %>
           <%= link_to "Your product", shoppage_path ,class: "btn btn-primary" %>
      <%else%>
    <% if product.quantity > 0 %>
        <%= link_to "View", showtocart_path(product),class: "btn btn-primary" %>
    <%else%>
        <div class='soldout'>Sold out!</div>
    <%end%>
    <% end %>
  </div>
</div>
<% end %>
<%else %>
<div class = "center"> There no items of this gernes </div>
<%end%>
</ul>
